# 변수
* 변수란 값이 저장될 수 있는 **공간**
* 원할 때 마다 변수에 들어 있는 '값'을 언제든 바꿀 수 있다.

## 변수에 값이 들어가는 과정
1. 변수의 선언 ( variable declaration )
2. 변수에 값을 할당 ( value assignment )

변수가 선언 되고(만들어 지고) 최초로 값이 들어가는 과정을 **초기화**라고 한다.

In [ ]:
a = 1 # 변수 a를 1로 초기화

In [ ]:
print(a)

1

In [ ]:
a = 2 # 변수 a에 2를 할당(대입)

print(a)

2

# comment (주석)
* 코드에서 # 으로 시작하는 부분으로써, 실행이 되지 않습니다.
* 개발자가 어떠한 코드인지 설명할 때 사용한다.

In [ ]:
# 변수의 선언과 할당
a = 1 # 변수 a를 선언하고 1을 할당
a

1

# 자료형( Data Type )
프로그래밍에서 사용되어지는 기본적인 형식(타입)

* int(정수) : -3, -2, 1, 3, 5 
* float(실수) : 3.14, -1.3, 20.1, 30.12312
  * 3.0 은 **실수**
* str(문자열) : 문자들을 열거 하면 문자열
* bool(논리) : True / False

In [ ]:
a = 1 # a 변수에 정수 1을 대입
type(a)

int

In [ ]:
a = 3.14
type(a)

float

In [ ]:
a = 'Hello~!~!~!'
type(a)

str

In [ ]:
a = True
type(a)

bool

In [ ]:
True + True

2

# variable naming(변수 이름 규칙)

소지금을 저장하는 변수를 만들고 싶다!

```
a = 10000
money = 10000
```

In [ ]:
studentName = "minho" # camel case. python에서는 잘 사용하지 않는다. 클래스 이름 지을 때는 사용
student_name = "minho" # snake case. python에서 변수, 함수를 만들 때 이름을 붙여주는 방법

In [ ]:
학생이름 = "민호"
학생이름

'민호'

한글로도 변수의 이름은 지어 줄 수 있으나. 굉장히 비추

In [ ]:
_student = "minho"

# _student = "jinho " # 상수는 수정하지 말자

STUDENT_NAME = "minho" # 대문자와 언더바만을 이용해서 만들면 상수

In [ ]:
a = 10
b = "민호"

age = 10
name = '민호'

# 아무런 값을 갖지 않는 변수

In [ ]:
c = None