# print 함수
* 입력한 내용을 **출력**하는 **기능**
* 함수란? 특정 기능을 원할 때마다 실행해서 사용

In [ ]:
# print를 안쓰고 노트북에 출력하기
a = 1
a

1

In [ ]:
b = 3
b
a

1

In [ ]:
# print를 사용해서 노트북에 출력하기
c = 1
d = 3

print(c)
print(d)

1
3

In [ ]:
print(c, d)

1 3

In [ ]:
print(c, d, sep="😊😊😊😊😊")

1😊😊😊😊😊3

In [ ]:
print("Hello", 10, 100, "hi", "bye", True, 3.14, 10)

Hello 10 100 hi bye True 3.14 10

In [ ]:
print("Hello", 10, 100, "hi", "bye", True, 3.14, 10, sep="*")

Hello*10*100*hi*bye*True*3.14*10

In [ ]:
name = "소민호"
age = 30

print("이름 : ", name, ",", "나이 : ", age)

이름 :  소민호 , 나이 :  30