# 컬렉션
* 무엇인가를 모았다!
* 파이썬의 컬렉션은 **파이썬에 존재하는 모든 것을** 모을 수 있다.
* 어떠한 데이터를 모아낸 구조
  * **자료구조**

# 컬렉션의 종류
* list
  * Sequence
  * 데이터에 대한 수정이 가능하다.
  * 중복 데이터 저장도 가능하다.
  * `[]` 또는 `list()` 를 이용해서 만든다.
* tuple
  * Sequence
  * 데이터에 대한 수정이 **불가능**하다.
  * 중복 데이터 저장도 가능하다.
  * `()`를 활용하거나 단순하게 데이터를 나열해서 만든다.
* set
* dict
* generator

#### list

In [ ]:
# list - 데이터에 대한 추가, 삭제, 수정이 가능 - mutable
# tuple - 데이터에 대한 추가, 삭제, 수정이 불가능 - immutable

list1 = [1, 2, 3, "four", [5, 6], 7.0, True]
list1

[1, 2, 3, 'four', [5, 6], 7.0, True]

`list1`에는 몇 개의 아이템? 7개

In [ ]:
len(list1)

7

In [ ]:
# offset index 사용이 가능
print(list1[3]) # 'four'
print(list1[2]) # 3
print(list1[4]) # [5, 6]

four
3
[5, 6]

In [ ]:
print(list1[4][1])

6

In [ ]:
BTS = ["정국", "슈가", "뷔", "랩몬스터", "지민", "제이홉", "진"]

# 문제 1 "랩몬스터" - "몬스터" 추출
print(BTS[3][1:])

# 문제 2 정국, 뷔, 지민, 진 추출
print(BTS[::2])

몬스터
['정국', '뷔', '지민', '진']

list의 함수들
* `append()` ★★★★★
  * 리스트의 제일 뒤에 값을 추가한다.
* `sort()`
  * 오름차순 정렬
  * `reverse=True` 설정하면 내림차순 정렬
* `pop()`
  * 제일 뒤에 있는 데이터를 꺼내고 삭제

In [ ]:
list2 = [1, 2]
list2.append(3)

In [ ]:
print(list2)

[1, 2, 3]

In [ ]:
list2.append(8)
list2.append(5)
print(list2)

[1, 2, 3, 8, 5]

In [ ]:
list2.sort() # 오름차순 정렬

In [ ]:
print(list2)

[1, 2, 3, 5, 8]

In [ ]:
list2.sort(reverse=True) # 내림차순
print(list2)

[8, 5, 3, 2, 1]

In [ ]:
list3 = ["banana", "apple", "cherry", "orange", "mango"]
list3.sort()
print(list3)

['apple', 'banana', 'cherry', 'mango', 'orange']

In [ ]:
list4 = ["Apple", "apple", "banana", "Banana"]
list4.sort()
print(list4)

['Apple', 'Banana', 'apple', 'banana']

In [ ]:
list4.sort(reverse=True)
print(list4)

['banana', 'apple', 'Banana', 'Apple']

In [ ]:
list1

[1, 2, 3, 'four', [5, 6], 7.0, True]

In [ ]:
list1 = [1, 2, 3, "four", [5, 6], 7.0, True]

In [ ]:
# ctrl + enter : 셀 추가 없이 현재 셀을 실행만 하는 단축키
item = list1.pop()

print(item, list1)

7.0 [1, 2, 3, 'four', [5, 6]]

#### tuple
* 리스트와 똑같지만 수정(추가, 삭제, 수정)이 불가
* 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [ ]:
# 리스트는 아이템 수정이 가능하다
lst = [1, 2, 3]
print(lst)
lst[1] = "hahaha" # 데이터 수정
print(lst)

[1, 2, 3]
[1, 'hahaha', 3]

In [ ]:
# 튜플은 아이템 수정이 불가능
tup = (1, 2, 3)
print(tup)
# tup[1] = "hahaha" # 데이터 수정이 불가능!
# print(tup)

(1, 2, 3)

In [ ]:
# tup.sort() # 정렬도 불가능!

In [ ]:
# tuple도 시퀀스니까 offset index, slicing 가능
print(tup[0])

1

In [ ]:
print(tup[:2])

(1, 2)

In [ ]:
print(tup)

(1, 2, 3)

In [ ]:
print(tup[::-1])

(3, 2, 1)

In [ ]:
# 그냥 공부하지 마시고 참고만 하세요~~~
# 리스트와 튜플의 저장공간 크기 비교
import sys

lst = [1, 2, 3]
tup = 1, 2, 3 # 소괄호 생략 가능

print(sys.getsizeof(lst))
print(sys.getsizeof(tup))

96
80

### 패킹(Packing), 언패킹(UnPacking) ★★★★★
* 패킹 : 데이터를 모아 놓는 작업
* **언패킹** : 모아 낸 데이터를 풀어 놓는 작업

In [ ]:
# 패킹
tup = ( 1, 'two', 3 ) # 튜플에 데이터를 3개를 모아 놓음

# 언패킹
item1, item2, item3 = tup

print(item1)
print(item2)
print(item3)

1
two
3

In [ ]:
# 언패킹할 변수의 개수가 맞지 않으면 오류 발생!
item1, item2 = tup

ValueError: ignored

In [ ]:
item1, item2, item3, item4 = tup

ValueError: ignored

In [ ]:
# 실제 내가 필요한 데이터는 2개인데, 패킹된 데이터는 3개
tup = ( 'one', 2, 'three' )

item1 = tup[0]
item2 = tup[1]

In [ ]:
# 관례상 필요 없는 패킹된 데이터는 언더바(_) 변수로 사용
# _ 로 이름이 지어진 변수는 사용하지 않을 변수!

item1, item2, _ = tup

print(item1, item2)

one 2

In [ ]:
_

'three'

In [ ]:
# 1, 3만 사용하고 싶다
tup = (1, 2, 3, 4)

item1, _, item2, __ = tup
print(item1, item2)

1 3

# Set, Dict
* Sequence가 아니다
* 데이터 저장의 순서가 없음.
* 중복 데이터의 저장도 허용하지 않는다.

**집합**

In [ ]:
# set (집합)
set1 = {1,1,1,2,3,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,7,7,7,7,7,7} # set
lst1 = [1,1,1,2,3,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,7,7,7,7,7,7] # list

print(set1)
print(lst1)

{1, 2, 3, 4, 5, 6, 7}
[1, 1, 1, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 7, 7, 7]

In [ ]:
set2 = {"apple", "banana", "mango", "cherry", "orange"}
lst2 = ["apple", "banana", "mango", "cherry", "orange"]

print(set2)
print(lst2)

{'mango', 'orange', 'apple', 'cherry', 'banana'}
['apple', 'banana', 'mango', 'cherry', 'orange']

수학에서의 집합과 동일한 개념
* 교집합
  * `intersection`
* 합집합
  * `union`
* 차집합
  * `difference`
* 부분집합
  * `issubset`
  * `True` / `False`

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4}

In [ ]:
# 교집합
print(A.intersection(B))

{2, 3}

In [ ]:
# 합집합
print(A.union(B))

{1, 2, 3, 4}

In [ ]:
# 차집합
print(A.difference(B)) # A - B ==> {1, 2, 3} - {2, 3, 4}

{1}

In [ ]:
# 부분집합 여부 판단
C = {2, 3}

# C는 A의 부분집합인가?
print(C.issubset(A)) # True

True

In [ ]:
# C는 B의 부분집합인가?
print(C.issubset(B)) # True

True

In [ ]:
# B는 A의 부분집합인가?
print(B.issubset(A)) # False

False

In [ ]:
# Set은 Sequence가 아니기 때문에 인덱스 사용이 불가!
A[0]

TypeError: ignored

#### dict (dictionary)
* 사전이란 뜻
* `{ key : value } 구조`
  * key-value 구조
  * `{ key1 : value1, key2 : value2, ...}`
* `key`의 특징
  * `key`는 `set`의 형태로 저장됨
  * 정수와 문자열로만 설정이 가능하다.
* `value`의 특징
  * `value`는 `list`의 형태로 저장된다.
  * 중복 저장 허용

In [ ]:
city = {
    "Japan" : "Tokyo",
    "Canada" : "Ottawa",
    "Korea" : "Seoul"
}

In [ ]:
print(city)

{'Japan': 'Tokyo', 'Canada': 'Ottawa', 'Korea': 'Seoul'}

In [ ]:
print(city["Korea"])

Seoul

In [ ]:
print(city["Canada"])

Ottawa

In [ ]:
print(city["canada"]) # 없는 키를 집어 넣으면? - 대소문자 가린다!

KeyError: ignored

#### dict 원소 추가 및 변경

In [ ]:
# 추가와 변경은 문법이 똑같아요
# 키가 없으면 추가, 키가 있으면 변경
city["China"] = "Beijing"
print(city)

{'Japan': 'Tokyo', 'Canada': 'Ottawa', 'Korea': 'Seoul', 'China': 'Beijing'}

In [ ]:
city["Japan"] = "Kyoto"
print(city)

{'Japan': 'Kyoto', 'Canada': 'Ottawa', 'Korea': 'Seoul', 'China': 'Beijing'}

#### dict 원소 삭제
* `del` 키워드 사용

In [ ]:
del city["Japan"] # 키가 Japan인 원소를 삭제
print(city)

{'Canada': 'Ottawa', 'Korea': 'Seoul', 'China': 'Beijing'}

#### dict의 key, value 확인 ★★★★★

In [ ]:
# keys() : 딕셔너리 내의 전체 키를 확인
print(city.keys())

dict_keys(['Canada', 'Korea', 'China'])

In [ ]:
# values() : 딕셔너리 내의 전체 value를 확인
print(city.values())

dict_values(['Ottawa', 'Seoul', 'Beijing'])

In [ ]:
# items() : 딕셔너리 내의 전체 key, value를 튜플 형태로 확인
print(city.items())

dict_items([('Canada', 'Ottawa'), ('Korea', 'Seoul'), ('China', 'Beijing')])

# 컬렉션 끼리의 형 변환(Type Casting)

In [ ]:
# list -> tuple
lst = [1, 2, 3]
tuple(lst)

(1, 2, 3)

In [ ]:
# tuple -> list
tup = 1, 2, 3
list(tup)

[1, 2, 3]

In [ ]:
# list -> set
lst = ["apple", "apple", "banana", "orange", "banana"]
print(lst)
lst_to_set = set(lst)
print(lst_to_set)

['apple', 'apple', 'banana', 'orange', 'banana']
{'orange', 'banana', 'apple'}

In [ ]:
# set -> list
list(lst_to_set)

['orange', 'banana', 'apple']

# 문자열을 컬렉션화
* 문자열도 Sequence

In [ ]:
text = "hello"

print(list(text)) # [h, e, l, l, o]

['h', 'e', 'l', 'l', 'o']

In [ ]:
print(tuple(text))

('h', 'e', 'l', 'l', 'o')

In [ ]:
# 문자열 "hello"는 어떤 알파벳으로 구성되어 있나요?
print(set(text))

{'h', 'o', 'e', 'l'}