# 연산자의 종류
* 산술연산자
  * `+, -, *, /, //, %`

In [ ]:
print( 5 + 2 ) # 7
print( 5 - 2 ) # 3
print( 5 * 2 ) # 10
print( 5 / 2 ) # 나누기 2.5
print( 5 // 2 ) # 몫 구하기 2
print( 5 % 2 ) # 나머지 구하기 1

7
3
10
2.5
2
1

In [ ]:
print( 2 + 2 * 2 ) # 곱하기가 우선적으로 수행

6

In [ ]:
print ( (2 + 2) * 2 ) # 괄호를 이용해서 연산자의 우선순위를 무시

8

* 할당(대입)연산자
  * 특정 변수에 들어있는 값에 특정 연산을 수행해서 저장(누적)
  * `=, +=, -=, *=, ...`

In [ ]:
num = 10
print(num)

num = num + 5
print(num)

num += 5 # num = num + 5
print(num)

10
15
20

In [ ]:
num /= 5 # num = num / 5
print(num)

4.0

* 비교연산자
  * 값이나 변수 끼리 비교
  * 보통은 크기를 비교한다.
  * `>, <, >=, <=, !=, ==`
* `a > b` : a가 b보다 크다
* `a < b` : a가 b보다 작다
* `a <= b` : a가 b보다 작거나 같다.
* `a >= b` : a가 b보다 크거나 같다.
* `a != b` : `!`는 부정(`not`)을 의미한다.
  * a와 b가 같지 않다.
* `a == b` : a와 b가 같다.
  * `=` : 할당(대입)
  * `==` : 비교

**비교 연산자의 결과물은 무조건 True / False**

In [ ]:
a = 3
b = 5

a < b, b > a, a > b, a != b, a == b

(True, True, False, True, False)

* 논리연산자
  * 논리 자료형인 bool을 연산하는 것
  * `and`, `or`, `not`

**and(&)**
* `A and B` : A가 `True`, B도 `True`면 결과물이 `True`

**or(|)**
* `A or B` : A와 B 둘 중 하나만 `True`여도 결과물이 `True`

**not(!)**
* `not A` : A가 `True`면 `False`가 되고, `False`면 `True`가 된다.

In [ ]:
1 < 3 and 3 > 1 # 1이 3보다 작고, 3이 1보다 크다.

True

In [ ]:
1 > 3 and 3 > 2 # 1이 3보다 크고, 3이 2보다 크다

False

In [ ]:
3 > 1 or 4 < 3

True

In [ ]:
1 > 3 or 5 < 1

False

In [ ]:
not 1 > 3 # 1이 3보다 크지 않다.

True

In [ ]:
not 2 < 3 # 2가 3보다 작지 않다.

False

실습

1 ~ 10 사이의 정수를 입력 받고, 그 수가 3와 8 사이에 있는지를 검사
  * 3이상 8이하

In [ ]:
# input 함수
data = input("insert number : ")
data

insert number : 5

'5'

In [ ]:
# data는 문자열
data = int(data) # 문자열을 숫자로 변경(parsing)
type(data)

int

In [ ]:
# data가 3 이상이고, data가 8 이하인가
data >= 3 and data <= 8

True

* 멤버 연산자
  * 멤버 -> 요소, 원소, item
  * 컬렉션에 원소가 존재하는지 여부를 판단
  * `in, not in`

In [ ]:
lst = ["a", 1, 3]

"a" in lst # "a"가 lst에 들어있다.

True

In [ ]:
2 in lst

False

In [ ]:
2 not in lst # 2가 lst에 들어있지 않다.

True