# 제어문
* 코드를 제어하는 문법

##### 조건문( Condition )
* 특정한 조건을 만족하면 ( `True` ) 코드를 실행
* `if, elif, else`
  * `if` : 만약에 ~라면
  * `elif`(`else if`) : 그게 아니고 ~ 라면
  * `else` : 그게 아니면

##### 반복문 ( Loop )
* 특정 조건을 만족하면 ( `True` ) 코드를 반복
* `while, for`
  * `while` : 조건제 반복 ( `True` 면 실행, `False`면 실행 안함)
  * `for` : 순회 반복( `iterable loop` ) - Sequence를 순회하면서 반복

### Code Context
* Context : 코드 문맥
* 특정한 상황에 실행해야 할 코드 뭉터기를 의미
* 파이썬에서는 Context를 indent(들여쓰기)로 구분
* indent는 spacebar 2칸이나 4칸으로 설정한다.
* 처음에 indent를 2칸으로 지정했으면 계속 2칸 쓰고, 4칸으로 지정했으면 계속 4칸 쓰면 된다.
* 개발툴(IDE)에서 자동으로 2칸 4칸을 처리 해준다.

# 조건문
```python
if [condition]:
  code context
elif [condition]:
  code context
elif [condition]:
  code context
...
else:
  code context
```
* 조건 부분에 bool 타입 데이터(True / False)가 온다.

In [ ]:
# bool 타입이 아닌 데이터가 오면 자동으로 bool 타입으로 바뀐다.
a = 3
b = 2

if a < b :
  print("Hi")
  print("Bye")

print("done")

done

In [ ]:
lst1 = [1, 2, 3]
lst2 = []

# bool 데이터 타입이 아닌 조건이 와도 자동으로 bool타입으로 바뀐다.
# 값이 있으면 True, 값이 없으면 False
if lst1 :
  print("OK!")

print("done")

OK!
done

In [ ]:
# 리스트에 값이 비어져 있으면 False
if lst2 :
  print("OK!")

print("done")

done

`elif, else`는 `if`에서 조건이 맞지 않았을 때 연속해서 조건검사를 하고 싶을 때 사용한다.

> 만약에 지갑에 12000원 이상 있으면 택시를 타고, 그게 아니고 지갑에 8000 ~ 12000원 미만 있으면 버스를 타고, 그게 아니면 걸어 간다.

In [ ]:
money = 10000

# if는 조건문의 시작!
if money >= 10000:
  print("택시를 타고 집에 갑니다.")

elif money <= 10000:
  print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다.

1. 만약에 돈이 10000원 이상이면 택시 타고, 만약에  돈이 10000원 이하면 걸어간다.
2. 만약에 돈이 10000원 이상이면 택시 타고, 그게 아니고 돈이 10000원 이하면 걸어간다.

if를 2개 이상 사용해야 하는 경우( 독립 조건 )
* 만약에 사용자의 계정이 4글자 이상이면 중복검사를 하고, 만약에 비밀번호에 특수문자가 없으면 다시 입력하게 한다.

`elif` 또는 `else`를 사용해야 하는 경우 ( 연속 조건 )
* 만약에 돈이 만원 이상이면 택시 타고, 만원 미만이면 버스탄다.

* 연속 조건과 독립 조건 구분법
  * 하나의 변수를 여러 번 검사하면 연속 조건인 경우가 많다.
  * 계정의 길이가 4글자 이상이고, 숫자도 껴있으면 중복버튼 활성화
-------
* 여러 개의 변수가 연속적으로 이어져야 하는 경우
  * 계정이 조건에 맞고, 비밀번호도 조건에 맞으면 회원가입 버튼을 활성화

In [ ]:
# 문제 1
# 지갑에 만원이상 있으면 택시
# 5000원 이상 있으면 광역버스
# 2000원 이상 있으면 일반버스
# 그게 아니면 걸어가기

# 문제 2
# 계좌에 10000원이 들어 있습니다.
# 인출 금액을 입력 받습니다.
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다. {} 원의 잔액이 부족합니다." 출력
# 인출 금액이 계좌에 있는 금액보다 작으면 "{} 원이 인출 되었습니다." 출력
# 마지막에 현재 계좌의 잔액을 출력 : "현재 잔액은 {} 원 입니다." 출력

In [ ]:
# 문제 1

money = input("얼마 있냐 : ")
money = int(money)

# 지갑에 만원이상 있으면 택시

if money >= 10000 :
  print('택시타기')
elif money >= 5000 :
  print("광역버스")
elif money >= 2000 :
  print("일반 버스")
else:
  print("걷기")

얼마 있냐 : 5000
광역버스

In [ ]:
money = int(input("얼마 인출 할래? "))

얼마 인출 할래? 10000

In [ ]:
money

10000

In [ ]:
# 문제 2
# 계좌에 10000원이 들어 있습니다.
# 인출 금액을 입력 받습니다.
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다. {} 원의 잔액이 부족합니다." 출력
# 인출 금액이 계좌에 있는 금액보다 작으면 "{} 원이 인출 되었습니다." 출력
# 마지막에 현재 계좌의 잔액을 출력 : "현재 잔액은 {} 원 입니다." 출력
money = int(input("얼마 인출 할래? "))
account = 10000

# 만약에 계좌에 있는 돈이 인출할 돈보다 작으면
  # 인출 불가능
if account < money:
  # 인출할 돈 - 잔액
  print(f"인출이 불가능 합니다. {money - account}원의 잔액이 부족합니다.")
else:
  account -= money # account = account - money
  print(f"{money} 원이 인출 되었습니다.")

print(f"현재 잔액은 {account} 원 입니다.")

얼마 인출 할래? 15000
인출이 불가능 합니다. 5000원의 잔액이 부족합니다.
현재 잔액은 10000 원 입니다.

# 반복문( Loop )
* 조건이 True면 코드를 반복
* `while` : 조건제 반복
  * **~할 때 반복**
    * ex) exit를 입력 할 때 까지 반복
    * ex) 상담 종료를 입력 할 때 까지 반복
* `for` : 컬렉션 반복
  * 컬렉션 내의 item들을 모두 사용할 때 까지 반복
  * Sequence는 순서대로 아이템들이 등장

## `while`
```python
while [condition]:
  code context
```

In [ ]:
data = 3

# 조건이 False가 될 때 까지 구문의 코드를 실행
while data:
  # 반복되는 코드
  print(data)
  data -= 1

print ("done")

3
2
1
done

* 학생이 국어 80, 영어 90, 수학 100점
* while문을 이용해서 총점과 평균을 출력

In [ ]:
point_lst = [80, 90, 100]

In [ ]:
bool([]), bool([1,2,3])

(False, True)

In [ ]:
data = point_lst.copy()

total, avg = 0, 0

while data:
  score = data.pop()
  total += score

print("합계 : {}".format(total))
print("평균 : {}".format(total / len(point_lst)))

합계 : 270
평균 : 90.0

#### 무한루프
`while`의 조건이 항상 `True`여서 반복이 무한히 되는 현상

In [ ]:
result = 1

while result:
  print("hello")

print("done")

* 숫자를 계속 입력 받다가 -1이 입력되면 멈추기.
  * input을 이용해서 입력을 할 것
  * 이 입력이 -1이면 멈춘다.
  * `number = input()`
  * `number != -1`
* 입력받은 숫자는 모두 더해주세요
  * `total += number`
* 반복이 끝나면 더한 숫자를 출력

In [ ]:
number = None
total = 0

while number != -1:  # number가 -1이 아니면 반복해라
  number = input("Input Number") # number를 입력 받아라
  number = int(number) # number를 정수로 바꿔라

  total += number # number를 total에 더해서 total에 넣어라

print("총합 : {}".format(total))

Input Number1
Input Number2
Input Number6
Input Number1
Input Number3
Input Number6
Input Number10
Input Number2
Input Number3
Input Number-1231
Input Number12321314
Input Number-1
총합 : 12320116

## `for`
```python
for <variable> in <iterable>:
  code context
```

* iterable : 순회가 가능한 컬렉션
* variable : for문에 의해 순회되는 원소(item)이 저장될 변수

In [ ]:
lst = ["Hello", 123, "Bye", 3.14]

for item in lst:
  print(item)
  print("----------")

print("done")

Hello
----------
123
----------
Bye
----------
3.14
----------
done

In [ ]:
set1 = {"Banana", "Apple", "Mango", "Orange", "Orange", "Apple"}

for item in set1:
  print(item)
  print("-------")

Apple
-------
Mango
-------
Orange
-------
Banana
-------

### zip 함수 사용하기
여러 개의 컬렉션을 하나로 모아서 병렬로 순회가 가능하도록 함

In [ ]:
lst1 = ["A", "B", "C"]
lst2 = [10, 20, 30]

```
A의 점수는 10점
B의 점수는 20점
C의 점수는 30점
```
로 출력 하려면?

In [ ]:
for name, score in zip(lst1, lst2):
  print(f"{name}의 점수는 {score}점")

A의 점수는 10점
B의 점수는 20점
C의 점수는 30점

컬렉션의 크기가 다른 경우 - 크기가 작은 컬렉션이 **기준**이 된다.

In [ ]:
lst1 = [10, 20, 30, 40]
lst2 = ["A", "B", "C"]

for item1, item2 in zip(lst1, lst2):
  print(item1, item2)

10 A
20 B
30 C

### range 함수 사용하기
`range(start, end, step)`
  * `start` : 시작할 숫자
  * `end` : 마지막 숫자 (`end-1`까지 나옴)
  * `step` : 건너뛰기

정수 리스트를 만들어 낸다.

In [ ]:
# 1 ~ 100 까지 리스트에 넣어서 for문을 이용해서 출력
# numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, ....]
numbers = range(1, 101) # step이 생략되면 1
numbers

range(1, 101)

In [ ]:
print(list(numbers)) # range를 list로 변환하면 숫자 확인 가능!

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
# 1 ~ 1000 까지의 총합을 구하세요
total = 0

for num in range(1, 1001):
  total += num

print(total)

500500

In [ ]:
list(range(5)) # 0 ~ 4

[0, 1, 2, 3, 4]

In [ ]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

학생의 국어, 영어, 수학 성적을 dict로 저장
  * 국어 : 100점
  * 수학 : 80점
  * 영어 : 85점

이 학생의 각 성적을 출력
```
출력 결과
  "국어는 100점"
  "수학은 80점"
  "영어는 85점"
```

In [ ]:
score = {
    "국어" : 100,
    "수학" : 80,
    "영어" : 85
}

print(score.keys())
print(score.values())

dict_keys(['국어', '수학', '영어'])
dict_values([100, 80, 85])

In [ ]:
subjects = score.keys()
points = score.values()

for subject, point in zip(subjects, points):
  print("{}는 {}점".format(subject, point))

국어는 100점
수학는 80점
영어는 85점

In [ ]:
score.items()

dict_items([('국어', 100), ('수학', 80), ('영어', 85)])

In [ ]:
for subject, point in score.items():
  print("{}는 {}점".format(subject, point))

국어는 100점
수학는 80점
영어는 85점

1. 난이도 EASY
```python
scores = [
    {
      "math": 90,
      "science" : 80
    },
    {
      "math": 100,
      "science" : 78
    },
]
```
각 과목의 평균 점수를 구하시오

In [ ]:
# EASY
scores = [
 {
   "math": 90,
   "science" : 80
 },
 {
   "math": 100,
   "science" : 78
 },
]

math_sum, science_sum = 0, 0

for score in scores:
  math_sum += score['math']
  science_sum += score['science']

print("Math Average : {}".format( math_sum / len(scores) ))
print("Science Average : {}".format( science_sum / len(scores) ))

Math Average : 95.0
Science Average : 79.0

2. 난이도 HARD
```python
몇 명의 점수를 입력 받으시겠습니까? : 3
math : 80
science : 90
math : 80
science : 90
math : 80
science : 90
```
```python
점수 목록 : [ { math : 80, science : 90  },{ math : 80, science : 90  },{ math : 80, science : 90  }]
math의 평균 : ???점
science의 평균 : ???점
```

In [ ]:
# HARD

count = int(input("몇 명의 점수를 입력 받으시겠습니까? "))
scores = []

for i in range(count):
  math_score = int(input("Math Score : "))
  science_score = int(input("Science Score : "))

  score = {
      "math" : math_score,
      "science" : science_score
  }

  scores.append( score )

math_sum, science_sum = 0, 0

for score in scores:
  math_sum += score['math']
  science_sum += score['science']

print("Math Average : {}".format( math_sum / len(scores) ))
print("Science Average : {}".format( science_sum / len(scores) ))

몇 명의 점수를 입력 받으시겠습니까? 3
Math Score : 1
Science Score : 2
Math Score : 3
Science Score : 4
Math Score : 5
Science Score : 6
Math Average : 3.0
Science Average : 4.0

# 중첩된 제어문 (nested)
* 제어문 내에 제어문이 존재할 수 있다

In [ ]:
lst1 = [10, 20, 30]
lst2 = ["A", "B", "C"]

for item1 in lst1:
  for item2 in lst2:
    print(item1, item2)

10 A
10 B
10 C
20 A
20 B
20 C
30 A
30 B
30 C

In [ ]:
# 구구단
for dan in range(2, 10):
  print("======",dan,"단 ======")
  
  for time in range(1, 10):
    print(f"{dan} x {time} = {dan*time}")
  
  print()

In [ ]:
# 홀짝 검출기
numbers = range(1, 101)

for num in numbers:
  
  # 어떤 정수(num)를 2로 나눴을 때 나머지가 1이면 홀수
  if num % 2 == 1 :
    print(f"{num} -> 홀수")
  else:
    print(f"{num} -> 짝수")

1 -> 홀수
2 -> 짝수
3 -> 홀수
4 -> 짝수
5 -> 홀수
6 -> 짝수
7 -> 홀수
8 -> 짝수
9 -> 홀수
10 -> 짝수
11 -> 홀수
12 -> 짝수
13 -> 홀수
14 -> 짝수
15 -> 홀수
16 -> 짝수
17 -> 홀수
18 -> 짝수
19 -> 홀수
20 -> 짝수
21 -> 홀수
22 -> 짝수
23 -> 홀수
24 -> 짝수
25 -> 홀수
26 -> 짝수
27 -> 홀수
28 -> 짝수
29 -> 홀수
30 -> 짝수
31 -> 홀수
32 -> 짝수
33 -> 홀수
34 -> 짝수
35 -> 홀수
36 -> 짝수
37 -> 홀수
38 -> 짝수
39 -> 홀수
40 -> 짝수
41 -> 홀수
42 -> 짝수
43 -> 홀수
44 -> 짝수
45 -> 홀수
46 -> 짝수
47 -> 홀수
48 -> 짝수
49 -> 홀수
50 -> 짝수
51 -> 홀수
52 -> 짝수
53 -> 홀수
54 -> 짝수
55 -> 홀수
56 -> 짝수
57 -> 홀수
58 -> 짝수
59 -> 홀수
60 -> 짝수
61 -> 홀수
62 -> 짝수
63 -> 홀수
64 -> 짝수
65 -> 홀수
66 -> 짝수
67 -> 홀수
68 -> 짝수
69 -> 홀수
70 -> 짝수
71 -> 홀수
72 -> 짝수
73 -> 홀수
74 -> 짝수
75 -> 홀수
76 -> 짝수
77 -> 홀수
78 -> 짝수
79 -> 홀수
80 -> 짝수
81 -> 홀수
82 -> 짝수
83 -> 홀수
84 -> 짝수
85 -> 홀수
86 -> 짝수
87 -> 홀수
88 -> 짝수
89 -> 홀수
90 -> 짝수
91 -> 홀수
92 -> 짝수
93 -> 홀수
94 -> 짝수
95 -> 홀수
96 -> 짝수
97 -> 홀수
98 -> 짝수
99 -> 홀수
100 -> 짝수

In [ ]:
print("ab", end="\t")
print("cd")

ab	cd

# 숙제
1. 구구단 ver.2 난이도 ★★☆☆☆
  * 홀수 단은 `~~ 곱하기 ~~ 는 ~~`
  * 짝수 단은 `~~ x ~~ = ~~`
  * 3단이면 `3 곱하기 1는 3`
  * 4단이면 `4 x 1 = 4`

2. 구구단 ver.3 난이도 ★★★☆☆
  * 가로 구구단 출력하기
  * ```
    2*1=1 3*1=3 4*1=4 .....
    2*2=4 3*2=6 4*2=8 .....
  ```
  * `print`함수 사용시에 `end="\t"`를 이용하면 옆으로 감
  * ```
  print("ab", end="\t")
  print("cd")
   >> ab      cd
  ```
3. 구구단 ver.4 난이도 ★★★★★
  * 격자 구구단 출력하기
  * ```
    2단   3단   4단
    ...   ...   ...
    5단   6단   7단
    ...   ...   ...
    8단   9단
    ...   ...
  ```

# 기타 제어문 사용 방법
* 삼항연산
* 컴프리헨션

## 삼항연산자
* 파이썬이 아닌 다른 언어들은 삼항연산자(`?`)가 존재 하지만 파이썬엔 없음!
* `if else` 만 사용해서 삼항연산을 수행

간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법
  * `if` 다음 한줄의 코드가 있음!
    * ```python
      if a > b:
        print("hello")
      else:
        print("bye")
    ```

**삼항연산자 사용 방법**
```pytyon
  <True일 때 사용할 값> if [condition] else <False일 때 사용할 값>
```

In [ ]:
data = 1

if data:
  print("0이 아닙니다")
else:
  print("0이에요")

0이 아닙니다

파이썬의 철학 중 하나 "파이써닉한 코드"
  * 최대한 간결하게 코딩을 하자

In [ ]:
"0이 아닙니다" if data else "0이에요"

'0이 아닙니다'

## 컴프리헨션
* 입문을 지나서 초보로 넘어가기 위한 관문
* 리스트, set, dict를 간단하게 만들기 위한 문법

반복문을 이용해서 컬렉션에 데이터를 추가하는 경우가 많다!

* 여러 전처리나 효과 없이 아주 단순하게 만들어진 데이터를 컬렉션에 추가(append)하고 싶으면??
* 한줄 짜리간단한 코드에 의한 아이템 추가

In [ ]:
# 0~3까지의 값에 제곱한 결과를 리스트에 담아놓기
lst = list(range(4))
result = []

for data in lst:
  result.append(data**2)
  
result

[0, 1, 4, 9]

기존의 컬렉션을 이용해서 컬렉션 내의 데이터를 이용해 **새로운 컬렉션**을 만들 때 보통 컴프리헨션을 사용한다.

단, 단순한 연산만 있는 경우 사용할 것!

In [ ]:
# 리스트 컴프리헨션
result = [ data**2 for data in lst]
result

[0, 1, 4, 9]

In [ ]:
# 1 ~ 10 까지 리스트를 만들어서 홀수와 짝수 리스트 생성하기
# num_list = [1,2,3,4,5,6,7,8,9,10]
# even_odd_list 는 컴프리헨션을 이용해 ["홀","짝","홀","짝","홀","짝","홀","짝","홀","짝"]

num_list = range(1, 11)
even_odd_list = [ "홀" if data % 2 == 1 else "짝" for data in num_list ]
even_odd_list

['홀', '짝', '홀', '짝', '홀', '짝', '홀', '짝', '홀', '짝']

In [ ]:
# 1 ~ 100 까지 정수에서 3의 배수만 가지고 있는 리스트를 만들기
num_list = range(1, 101)
mul_of_3_list = [ data for data in num_list if data % 3 == 0]
print(mul_of_3_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

컴프리헨션은 일반 for문을 이용한 것 보다 빠르다!

In [ ]:
%%timeit

lst = []

for data in range(1, 100001):
  if data % 3 == 0:
    lst.append(data)

len(lst)

100 loops, best of 5: 10.3 ms per loop

In [ ]:
%%timeit
lst = [data for data in range(1, 100001) if data % 3 == 0]
len(lst)

100 loops, best of 5: 8.66 ms per loop

1. 구구단 ver.2 난이도 ★★☆☆☆
  * 홀수 단은 `~~ 곱하기 ~~ 는 ~~`
  * 짝수 단은 `~~ x ~~ = ~~`
  * 3단이면 `3 곱하기 1는 3`
  * 4단이면 `4 x 1 = 4`

In [ ]:
# 의미가 있는 코드는 변수로 만들어 놓고 사용하자!
dans = range(2, 10)
times = range(1, 10)

for dan in dans:
  print(f"===={dan} 단====")

  for time in times:
    if dan % 2 == 0:
      print(f"{dan} x {time} = { dan * time }")
    else:
      print(f"{dan} 곱하기 {time}은(는) {dan * time}")

====2 단====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
====3 단====
3 곱하기 1은(는) 3
3 곱하기 2은(는) 6
3 곱하기 3은(는) 9
3 곱하기 4은(는) 12
3 곱하기 5은(는) 15
3 곱하기 6은(는) 18
3 곱하기 7은(는) 21
3 곱하기 8은(는) 24
3 곱하기 9은(는) 27
====4 단====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
====5 단====
5 곱하기 1은(는) 5
5 곱하기 2은(는) 10
5 곱하기 3은(는) 15
5 곱하기 4은(는) 20
5 곱하기 5은(는) 25
5 곱하기 6은(는) 30
5 곱하기 7은(는) 35
5 곱하기 8은(는) 40
5 곱하기 9은(는) 45
====6 단====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
====7 단====
7 곱하기 1은(는) 7
7 곱하기 2은(는) 14
7 곱하기 3은(는) 21
7 곱하기 4은(는) 28
7 곱하기 5은(는) 35
7 곱하기 6은(는) 42
7 곱하기 7은(는) 49
7 곱하기 8은(는) 56
7 곱하기 9은(는) 63
====8 단====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
====9 단====
9 곱하기 1은(는) 9
9 곱하기 2은(는) 18
9 곱하기 3은(는) 27
9 곱하기 4은(는) 36
9 곱하기 5은(는) 45
9 곱하기 6은(는) 54
9 곱하기 7은(는) 63
9 곱하기 8은(는) 72
9 곱하기 9은(는) 81

2. 구구단 ver.3 난이도 ★★★☆☆
  * 가로 구구단 출력하기
  * ```
    2*1=1 3*1=3 4*1=4 .....
    2*2=4 3*2=6 4*2=8 .....
  ```
  * `print`함수 사용시에 `end="\t"`를 이용하면 옆으로 감
  * ```
  print("ab", end="\t")
  print("cd")
   >> ab      cd
  ```

In [ ]:
dans = range(2, 10)
times = range(1, 10)

for time in times:
  for dan in dans:
    print(f"{dan} x {time} = {dan * time}", end="\t")
  print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

3. 구구단 ver.4 난이도 ★★★★★
  * 격자 구구단 출력하기
  * ```
    2단   3단   4단
    ...   ...   ...
    5단   6단   7단
    ...   ...   ...
    8단   9단
    ...   ...
  ```

In [ ]:
dans = range(2, 10)
times = range(1, 10)

h_num = 3 # 가로로 표시할 숫자의 개수

for idx in range(0, len(dans), h_num):
  now_dan = dans[idx : idx + h_num]
  
  for dan in now_dan:
    print(f"{dan} 단", end='\t\t')
  print()

  for time in times:
    for dan in now_dan:
      print(f"{dan} * {time} = {dan * time}", end="\t")
    print()
  
  print()

2 단		3 단		4 단
2 * 1 = 2	3 * 1 = 3	4 * 1 = 4
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36

5 단		6 단		7 단
5 * 1 = 5	6 * 1 = 6	7 * 1 = 7
5 * 2 = 10	6 * 2 = 12	7 * 2 = 14
5 * 3 = 15	6 * 3 = 18	7 * 3 = 21
5 * 4 = 20	6 * 4 = 24	7 * 4 = 28
5 * 5 = 25	6 * 5 = 30	7 * 5 = 35
5 * 6 = 30	6 * 6 = 36	7 * 6 = 42
5 * 7 = 35	6 * 7 = 42	7 * 7 = 49
5 * 8 = 40	6 * 8 = 48	7 * 8 = 56
5 * 9 = 45	6 * 9 = 54	7 * 9 = 63

8 단		9 단
8 * 1 = 8	9 * 1 = 9
8 * 2 = 16	9 * 2 = 18
8 * 3 = 24	9 * 3 = 27
8 * 4 = 32	9 * 4 = 36
8 * 5 = 40	9 * 5 = 45
8 * 6 = 48	9 * 6 = 54
8 * 7 = 56	9 * 7 = 63
8 * 8 = 64	9 * 8 = 72
8 * 9 = 72	9 * 9 = 81

`[2,3,4,5,6,7,8,9]`