# #1. 변수, 자료형, 변수 네이밍

## 변수란?
공간! 값을 저장 하기 위한 공간

In [ ]:
a = 10

## 자료형 (Data Type)
데이터의 타입. 파이썬에서 사용하는 기본적인 4가지 형식
* 정수 ( `int` )
  * 3은 정수
* 실수 ( `float` )
  * 3.0은 실수!
* 문자열 ( `str` )
  * 문자들을 열거 하면 문자열
* 논리 ( `bool` )
  * `True` / `False`

In [ ]:
a = 1
type(a) # 변수에 어떠한 자료형의 데이터가 들어갔는지?

int

In [ ]:
a = 3.14
type(a)

float

In [ ]:
a = "Hello~!~!"
type(a)

str

In [ ]:
a = True
type(a)

bool

### None
비워져 있는 값

In [ ]:
tissue = 0 # 휴지걸이에 휴지가 없는거
tissue = None # 휴지걸이에 휴지심 조차 없는거

## 변수 이름 규칙 (variable naming)
변수를 만들 때 의미 없이 만드는게 아닌, 의미를 부여하기 위한 방안
* `CamelCase`
  * `studentName` : 변수, 함수를 만들 때 사용됨  ( 파이썬에서 잘 쓰이진 않음 )
  * `PersonName` : 클래스의 이름을 붙여주는 방법 ( 파이썬에서 클래스 만들 때 사용)
* `snake_case`
  * `student_name` : 변수, 함수를 만들 때 사용됨 ( **파이썬에서 제일 많이** 쓰이는 방법 )

In [ ]:
# 돈이라는 변수를 만들 때..
a = 10000
money = 10000

In [ ]:
# 학생의 이름 이라는 변수를 만들 때
student_name = "소민호"

## 잘못된 변수명( 에러 )
* 특수 문자가 있는 경우 오류
  * `^a$$ = 10`, `**a^ = 10` : 오류
  * 단, 언더바(`_`)는 사용 가능
* 숫자가 제일 앞에 오는 경우 에러
  * `1a = 3` : 오류

### 사용하면 안되는 변수의 이름
* reserved keywords (예약어)
  * 파이썬에서 미리 선점하여 사용중인 키워드
  * 변수, 함수, 클래스 등등의 **사용자 정의 이름**으로 사용이 불가
  
```python
# 절대 외우지 마세요!!!
#  문법적인 키워드
for
while 
if
elif 
else 
class
try
except
```

# #2. 문자열(`str`)
문자(`character`)들이 순서대로 열거 되어있으면 문자열(`str`)

* 열거가 되어있다 : 연속되어 있다. 순서가 있다.
  * Sequence라고 한다!
* 여러 개의 문자를 순서대로 나열한 것
* 순서가 있다라는 이야기 - **순번**이 있다

In [ ]:
# 문자열은 작은 따옴표 (') 또는 큰 따옴표("") 사이에 작성
my_name1 = "minho1"
my_name2 = 'minho2'

print(my_name1, my_name2)

minho1 minho2

I'm Student를 출력하려면?

In [ ]:
text = "I'm Student"
print(text)

I'm Student

나는 말했다. "안녕하세요"

In [ ]:
text = '나는 말했다. "안녕하세요"'
print(text)

나는 말했다. "안녕하세요"

## 이스케이프 문자
따옴표를 표현하기 위해서 `escape character(\)`사용이 가능

* `\n` : 줄바꿈	개행문자(캐리지 리턴)
* `\t` : 탭( 8칸을 띄워준다. )
* `\'` : 작은 따옴표 표현
* `\"` : 큰 따옴표 표현

In [ ]:
# I'm Student
text = 'I\'m Student'
print(text)

I'm Student

In [ ]:
# I said. "I'm Student"
text = "I said. \"I'm Student\""
print(text)

I said. "I'm Student"

In [ ]:
text = '''I said. "I'm Student"'''
print(text)

I said. "I'm Student"

## 문자열 다루기
* 문자열은 문자가 순서대로 있기 때문에 순서가 있다.
  * 순번이 있다! - **offset index**

### Offset Index
* 시퀀스 원소의 **순번(위치)**을 의미한다.
* 양수 인덱스 : 0부터 시작하며, 왼쪽에서 오른쪽으로 1씩 증가
* 음수 인덱스 : -1부터 시작하며, 오른쪽에서 왼쪽으로 1씩 감소
* Offset Index는 무조건 **정수**

In [ ]:
text = "Hello"
print(text)

Hello

In [ ]:
text[4] # Offset Index 0번을 선택

'o'

In [ ]:
text[-4]

'e'

## 슬라이싱(slicing) ★★★★★
* 인덱스를 사용해서 시퀀스를 **잘라낸다**
* 잘라서 새로운 시퀀스를 만들어 낸다.
* `[start : end : step]`

In [ ]:
text="ABCDEFGHIJ"
print(text)

ABCDEFGHIJ

`[start : end]`로 입력 하지만 실제로는 
* 양수 `step`을 사용하면 `end-1` 까지만 추출한다.
* 음수 `step`을 사용하면 `end+1` 까지만 추출한다.

In [ ]:
text[3 : 8] # DEFGH

'DEFGH'

In [ ]:
# start를 생략하면 자동으로 0으로 세팅
# end를 생각하면 문자열의 길이로 세팅 - 문자열에 있는 문자의 개수
text[ : ] # 전체 문자열

'ABCDEFGHIJ'

In [ ]:
text[-10 : -5] #

'ABCDE'

`step`은 생략하면 기본으로 `1`이 들어가 있는 상태

In [ ]:
text[3:8:2]

'DFH'

음수 `step`을 사용하면 방향이 역방향으로 바뀐다

In [ ]:
text[-4:-7:-1]

'GFE'

In [ ]:
text[6:3:-1]

'GFE'

## 문자열 함수
* 문자열은 여러 기능 제공을 위한 함수가 내장 되어 있다.

In [ ]:
text1 = "hello"
text2 = "world"

### 문자열 이어 붙이기

In [ ]:
text1 + text2

'helloworld'

문자열 끼리만 이어 붙일 수 있다.

In [ ]:
text1 + 10

TypeError: ignored

In [ ]:
text1 + str(10)

'hello10'

### 문자열 반복하기

In [ ]:
text1 * 10

'hellohellohellohellohellohellohellohellohellohello'

In [ ]:
text1 * 0.8

TypeError: ignored

In [ ]:
text1 * 0

''

### 대 소문자화 하기★

In [ ]:
# 모든 문자를 대문자로 만들기 - upper()
text2.upper()

'WORLD'

In [ ]:
# 모든 문자를 소문자로 만들기 - lower()
text3 = "HELLO!!!"
text3.lower()

'hello!!!'

### 문자열 치환★★★
치환 : a를 b로 바꾸는 것(`replace`)

In [ ]:
# 치환 - replace()

text = "Hello World!"
text.replace("H", "j")

'jello World!'

In [ ]:
text.replace("He", "Bye")

'Byello World!'

In [ ]:
text.replace("o", "a")

'Hella Warld!'

### 문자열 포매팅★★★★★
문자열 내의 **특정한 값**을 **변수로**부터 초기화하여 동적으로 문자열을 생성

In [ ]:
name = "ㅋㅋㅋㅋ"
height = 185

# text = "제 이름은 소민호 구요, 키는180이 에요" # 정적 텍스트(static text)
text = "제 이름은 " + name + "구요, 키는" + str(height) + "이에요"
text

'제 이름은 ㅋㅋㅋㅋ구요, 키는185이에요'

In [ ]:
# 문자열 포매팅 :  문자열의 형식(format)을 미리 지정해놓고, 필요할 때만 특정 부분만 바꿔주는 것
text = "제 이름은 {}구요, 키는 {}이에요"
text

'제 이름은 {}구요, 키는 {}이에요'

In [ ]:
name = "김땡땡"
height = 165.15165

"제 이름은 {}구요, 키는 {}이에요".format(name, height)

'제 이름은 김땡땡구요, 키는 165.15165이에요'

In [ ]:
text = f"제 이름은 {name}구요, 키는 {height}이에요"
text

'제 이름은 김땡땡구요, 키는 165.15165이에요'

### 문자열 분리하기 ★★★★★
* slice : 특정 부분을 인덱스를 사용해 **잘라내기**
* split : 특정한 구분자를 이용해서 문자열을 분리

In [ ]:
text = "오늘 비가 너무 많이 오네요"
text.split(" ") # 공백 문자를 기준으로 분리하기

['오늘', '비가', '너무', '많이', '오네요']

In [ ]:
text = "#8시간#하루종일#파이썬#하고있음#빡셈"
result = text.split("#")
result

['', '8시간', '하루종일', '파이썬', '하고있음', '빡셈']

In [ ]:
result[1]

'8시간'

In [ ]:
result[1:]

['8시간', '하루종일', '파이썬', '하고있음', '빡셈']

In [ ]:
text = "느그    서장     남천동         살제"
# text.split(" ")
text.split()

['느그', '서장', '남천동', '살제']

### 문자열 합치기
* split과 반대 개념

In [ ]:
result = text.split()
result

['느그', '서장', '남천동', '살제']

In [ ]:
# join() : 특정한 문자열을 기준으로 리스트 내에 있는 문자열들을 합쳐준다.
"#".join(result)

'느그#서장#남천동#살제'

In [ ]:
"😊".join(result)

'느그😊서장😊남천동😊살제'

## 문자열 형 변환 (Type Casting)과 Parsing

### Type Casting
데이터 타입을 변경 하는 작업

In [ ]:
int_a = 10 # 정수
float_b = 10.3 # 실수

casting_a = float(int_a) # 정수를 실수로 바꿈
print(casting_a, type(casting_a))

casting_b = int(float_b) # 실수를 정수로 바꿈
print(casting_b, type(casting_b))

10.0 <class 'float'>
10 <class 'int'>

In [ ]:
print(str(int_a), type(str(int_a)))
print(str(float_b), type(str(float_b)))

10 <class 'str'>
10.3 <class 'str'>

비어있지 않은 값이면 `bool` 타입으로 변경 했을 때 무조건 `True`

In [ ]:
bool(1), bool(0)

(True, False)

In [ ]:
bool(2), bool(1)

(True, True)

In [ ]:
bool("hello"), bool(""), bool(" ")

(True, False, True)

### Parsing
문자열 데이터를 다른 데이터 타입으로 바꾸는 것을 의미

In [ ]:
movie_score = "7.87" # 크롤링을 하게 되면 실수 모양으로 되어있는 문자열을 받을 때도 있다!

parsed_score = float(movie_score) # 문자열 "7.87"을 실수 7.87로 파싱
parsed_score, type(parsed_score)

(7.87, float)

단, 바꾸고자 하는 데이터 타입이 아닌 문자열 형식일 경우 오류가 발생

In [ ]:
movie_score = "7.87" # 실수의 모양을 하고 있는 문자열
parsed_score_int = int(movie_score)

ValueError: ignored

In [ ]:
movie_score = "7" # 문자열이 정수 모양으로 되어 있음!
parsed_score_int = int(movie_score)

parsed_score_int

7

# #3. 컬렉션 데이터 타입
* 무엇인가를 모았다!
* 파이썬의 컬렉션은 **파이썬에 존재하는 모든 것을** 모을 수 있다.
* 어떠한 데이터를 모아낸 구조
  * **자료구조**

## `list`
* list
  * Sequence
  * 데이터에 대한 수정이 가능하다.
  * 중복 데이터 저장도 가능하다.
  * `[]` 또는 `list()` 를 이용해서 만든다.

In [ ]:
# list - 데이터 추가, 삭제, 수정 - mutable
lst = [1,2,3,3,4,"four", [5, 6], 7.0, True]
lst

[1, 2, 3, 3, 4, 'four', [5, 6], 7.0, True]

`lst`에는 몇 개의 아이템?

In [ ]:
len(lst)

9

리스트는 시퀀스 이기 때문에 `offset index`를 사용 할 수 있다

In [ ]:
print(lst[3]) # 3
print(lst[6]) # [5, 6]
print(lst[2 : 5]) # [3, 3, 4]

3
[5, 6]
[3, 3, 4]

In [ ]:
print(lst[6][0])

5

### list 함수들
* `append()` ★★★★★
  * 리스트의 제일 뒤에 값을 추가한다.
* `sort()`
  * 오름차순 정렬
  * `reverse=True` 설정하면 내림차순 정렬
* `pop()`
  * 제일 뒤에 있는 데이터를 꺼내고 삭제

#### `append()`

In [ ]:
lst = [3, 5]
print(lst)

lst.append(12)
print(lst)

[3, 5]
[3, 5, 12]

In [ ]:
lst.append("hi")
lst.append("hello")

print(lst)

[3, 5, 12, 'hi', 'hello']

#### `sort()`
* `reverse=True` 내림차순 정렬
* `reverse=False` 오름차순 정렬 (기본)

In [ ]:
lst = [4, 1, 3, 2, 6, 5]
lst.sort(reverse=True) # 내림차순 정렬
print(lst)

[6, 5, 4, 3, 2, 1]

In [ ]:
lst = [4, 1, 3, 2, 6, 5]
lst.sort(reverse=False) # 오름차순 정렬
print(lst)

[1, 2, 3, 4, 5, 6]

In [ ]:
lst = ["banana", "apple", "cherry", "orange", "mango"]
lst.sort()
print(lst)

['apple', 'banana', 'cherry', 'mango', 'orange']

## `tuple`
  * Sequence
  * 데이터에 대한 수정이 **불가능**하다.
  * 중복 데이터 저장도 가능하다.
  * `()`를 활용하거나 단순하게 데이터를 나열해서 만든다.

In [ ]:
# list는 아이템의 추가, 삭제, 수정이 가능하다
lst = [1, 2, 3]
lst[1] = "hahaha"
print(lst)

[1, 'hahaha', 3]

In [ ]:
# tuple은 아이템의 추가, 삭제, 수정이 불가능!
tup = (1, 2, 3) # tup = 1, 2, 3
print(tup)
tup[1] = "hahaha"

(1, 2, 3)

TypeError: ignored

In [ ]:
tup = ( 1, 2, 3, 4, 5 )
print(tup[3]) # 선택
print(tup[1 : 4]) # 슬라이싱

4
(2, 3, 4)

튜플은 리스트보다 사용하는 공간이 작아요

In [ ]:
# 그냥 공부하지 마시고 참고만 하세요~~~
# 리스트와 튜플의 저장공간 크기 비교
import sys

lst = [1, 2, 3]
tup = 1, 2, 3 # 소괄호 생략 가능

print(sys.getsizeof(lst))
print(sys.getsizeof(tup))

96
80

### 패킹(Packing), 언패킹(Unpacking) ★★★★★
* 패킹 : 데이터를 모아 놓는 작업
* **언패킹** : 모아 낸 데이터를 풀어 놓는 작업

In [ ]:
# 패킹
tup = 1, 'two', 3 # 튜플에 데이터를 3개 모아 놨음

# 언패킹
item1, item2, item3 = tup

print(item1, item2, item3)

1 two 3

In [ ]:
# 언패킹할 변수의 개수가 맞지 않으면 오류 발생!
item1, item2 = tup

ValueError: ignored

In [ ]:
tup = 1, 2

item1, item2, item3 = tup

ValueError: ignored

## `Set`
* Sequence가 아니다
* 데이터 저장의 순서가 없음.
* 중복 데이터의 저장도 허용하지 않는다.

**집합**

In [ ]:
# set 생성
set1 = {1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6}
lst1 = [1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6]

print(set1) # set은 중복 데이터가 제거가 된다.
print(lst1)

{1, 2, 3, 4, 5, 6}
[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6]

In [ ]:
set2 = {"apple", "banana", "mango", "cherry", "orange"} # hash라는 알고리즘에 의해 배치가 되긴 해요.
lst2 = ["apple", "banana", "mango", "cherry", "orange"]

print(set2) # set은 데이터 입력의 순서를 보장 하지 않는다.
print(lst2)

{'apple', 'orange', 'banana', 'cherry', 'mango'}
['apple', 'banana', 'mango', 'cherry', 'orange']

## `dict`
* `{ key : value } 구조`
  * key-value 구조
  * `{ key1 : value1, key2 : value2, ...}`
* `key`의 특징
  * `key`는 `set`의 형태로 저장 된다.
  * 입력한 순서가 유지가 안된다. ( 최신 파이썬 에서는 유지가 되는 거 같기도...? )
  * 중복된 데이터도 가질 수가 없다.
  * 반드시 정수 또는 문자열로만 지정이 가능
* `dict`에 데이터를 입력하기 위해서는 `key`와 `value`가 모두 필요하다.

In [ ]:
fruit_dict = {
    
    "apple"  : "사과입니다.",
    "mango"  : "망고는 달아요",
    "banana" : "바나나는 깁니다.",
    "cherry" : "체리는 맛있어요."
}

fruit_dict

{'apple': '사과입니다.',
 'banana': '바나나는 깁니다.',
 'cherry': '체리는 맛있어요.',
 'mango': '망고는 달아요'}

In [ ]:
print(fruit_dict["apple"]) # 사과입니다.
print(fruit_dict["mango"]) # 망고는 달아요

사과입니다.
망고는 달아요

### `dict`에 원소를 추가, 변경

In [ ]:
# 추가와 변경은 문법이 똑같다.
# 키가 없으면 추가, 키가 있으면 수정

fruit_dict["orange"] = "오렌지는 주황색이에요"
print(fruit_dict)

fruit_dict["orange"] = "맛있어요~~"
print(fruit_dict)

{'apple': '사과입니다.', 'mango': '망고는 달아요', 'banana': '바나나는 깁니다.', 'cherry': '체리는 맛있어요.', 'orange': '오렌지는 주황색이에요'}
{'apple': '사과입니다.', 'mango': '망고는 달아요', 'banana': '바나나는 깁니다.', 'cherry': '체리는 맛있어요.', 'orange': '맛있어요~~'}

### `dict`의 원소 삭제
* `del` 키워드 사용

In [ ]:
del fruit_dict["orange"]
print(fruit_dict)

{'apple': '사과입니다.', 'mango': '망고는 달아요', 'banana': '바나나는 깁니다.', 'cherry': '체리는 맛있어요.'}

### `dict`의 정보를 확인
* `key`, `value`

In [ ]:
# keys() : 딕셔너리 내의 전체 key를 확인
print(fruit_dict.keys())

dict_keys(['apple', 'mango', 'banana', 'cherry'])

In [ ]:
# values() : 딕셔너리 내의 전체 value를 확인
print(fruit_dict.values())

dict_values(['사과입니다.', '망고는 달아요', '바나나는 깁니다.', '체리는 맛있어요.'])

In [ ]:
# items() : 딕셔너리 내의 전체 key, value를 튜플 형태로 확인
print(fruit_dict.items())

dict_items([('apple', '사과입니다.'), ('mango', '망고는 달아요'), ('banana', '바나나는 깁니다.'), ('cherry', '체리는 맛있어요.')])

# #4. 연산자(Operator)

## 산술연산자
* `+, -, *, /, //, %, **`
* `*` : 곱하기
* `/` : 나누기 ( 소숫점 단위 까지 나옴 )
* `//` : 몫 구하기
* `%` : 나머지 구하기
* `**` : 제곱

In [ ]:
print( 5 + 2 ) # 7
print( 5 - 2 ) # 3
print( 5 * 3 ) # 15
print( 5 / 2 ) # 2.5
print( 5 // 2 ) # 2 ( 5를 2로 나눴을 때의 몫 )
print( 5 % 2 ) # 1 ( 5를 2로 나눴을 때의 나머지 )
print( 5 ** 2 ) # 25 ( 5의 2승 )

7
3
15
2.5
2
1
25

## 할당(대입)연산자
* 특정 변수에 들어있는 값에 특정 연산의 결과물을 누적해서 저장
* `=, +=, -=, *=, ...`

In [ ]:
num = 10
print(num) # 10

num = num + 5
print(num) # 15

num += 5 # num = num + 5
print(num)

10
15
20

## 비교연산자
  * 값이나 변수 끼리 비교
  * 보통은 크기를 비교한다.
  * `>, <, >=, <=, !=, ==`
    * `a > b` : a가 b보다 크다
    * `a < b` : a가 b보다 작다
    * `a <= b` : a가 b보다 작거나 같다.
    * `a >= b` : a가 b보다 크거나 같다.
    * `a != b` : `!`는 부정(`not`)을 의미한다.
      * a와 b가 같지 않다.
    * `a == b` : a와 b가 같다.
      * `=` : 할당(대입)
      * `==` : 비교
      
**비교 연산자의 결과물은 무조건 True / False**

In [ ]:
a, b = 3, 5

a < b, b > a, a > b, a != b, a == b

(True, True, False, True, False)

## 논리연산자
* 논리 자료형인 `bool`을 연산
* `and`, `or`, `not`

**and**
  * `A and B` : A가 `True`, B도 `True`면 결과물이 `True`

**or**
  * `A or B` : A와 B 둘 중에 하나만 `True`여도 결과물이 `True`

**not**
  * `not A` : A가 `True`면 `False`가 되고, `False`면 `True`가 된다.

and

In [ ]:
1 < 3 and 7 > 6

True

In [ ]:
1 > 3 and 7 > 6

False

In [ ]:
1 > 3 and 1 > 3

False

or

In [ ]:
3 > 1 or 4 < 3

True

In [ ]:
1 > 3 or 5 < 1

False

not

In [ ]:
not 1 > 3 # 1이 3보다 크지 않다.

True

In [ ]:
not 2 < 3 # 2가 3보다 작지 않다.

False

## 멤버 연산자
* 멤버 : 컬렉션 내에 있는 아이템
* 컬렉션에 원하는 원소가 존재하는지 여부를 판단
* `in, not in`

In [ ]:
lst = ["a", 1, 3]
"a" in lst # "a"가 lst에 들어있는가?

True

In [ ]:
2 in lst

False

In [ ]:
2 not in lst # 2가 lst에 들어있지 않다.

True

# #5. 제어문

## Code Context
* Code Context : 문맥, 구문
* 구문이란?
  * 실행해야 할 코드들
* 파이썬에서는 Context를 `indent(들여쓰기)`로 구분
  * `indent`는 스페이스 바 2칸이나 4칸으로 설정
  * `indent`를 2칸으로 했으면 계속 2칸으로, 4칸으로 했으면 계속 4칸으로 해야 한다.
  * 개발툴(IDE)에서 자동으로 2칸 or 4칸을 처리 해 준다.

## 조건문( Condition )
* 특정한 조건을 만족하면 코드를 실행
* `if, elif, else`
  * `if` : 만약에 ~ 라면 ~을 하겠다.
  * `elif(else if)` : 그게 아니라 ~라면 ~을 하겠다.
  * `else` : 그게 아니면 ~을 하겠다.


```python
if [condition]:
  code context
elif [condition]:
  code context
elif [condition]:
  code context
...
else:
  code context
```
* 조건 부분에 bool 타입 데이터(True / False)가 온다.

In [ ]:
a = 3
b = 2

if a > b:
  print("Hi")
  print("Bye")

print("done")

Hi
Bye
done

`elif, else`는 `if`에서의 조건이 `False`가 되어서 Code Context가 실행이 되지 않았을 때 연속적으로 조건검사를 해야 할 때에 사용한다.

> 만약에 12000원 이상 있으면 택시 타고, 8000 ~ 12000 이면 버스 타고, 그게 아니면 걸어간다.

In [ ]:
money = 10000

if money >= 12000:
  print("택시 타기")
elif 8000 <= money < 12000:
  print("버스 타기")
else:
  print("걸어가기")

버스 타기

## 반복문(Loop)
특정 Code Context를 반복

### `while` - 조건제 반복
* ~할 때 반복

```python
while [condition]:
  code context
```

In [ ]:
data = 5

# 조건이 False가 될 때 까지 구문의 코드를 실행
while data:
  # 반복 되는 코드
  print(data)
  data -= 1

print("done")

5
4
3
2
1
done

#### 무한루프
`while`의 조건이 항상 `True`여서 반복이 무한하게 되는 현상

In [ ]:
# result = 1

# while result:
#   print("hello")

# print("done")

### `for`

컬렉션에 있는 데이터를 하나씩 꺼내면서 반복 하다가, 더 이상 꺼낼 아이템이 없으면 반복을 종료

```python
for <variable> in <iterable>:
  code context
```

* iterable : 순회가 가능한 컬렉션
* variable : for문에 의해 순회되는 원소(item)이 저장될 변수

In [ ]:
lst = ["Hello", 123, "Bye", 3.14]

for item in lst:
  print(item)
  print("--------")

print("done")

Hello
--------
123
--------
Bye
--------
3.14
--------
done

### `zip` 함수 ★★★
여러 개의 컬렉션을 하나로 모아서 병렬로 순회가 가능하도록 함

In [ ]:
lst1 = ["A", "B", "C"]
lst2 = [10, 20, 30]

```
A의 점수는 10점
B의 점수는 20점
C의 점수는 30점
```
로 출력 하려면?

In [ ]:
for name, score in zip(lst1, lst2):
  print(f"{name}의 점수는 {score}점")

A의 점수는 10점
B의 점수는 20점
C의 점수는 30점

컬렉션의 크기가 다른 경우 크기가 작은 컬렉션이 기준이 된다.

In [ ]:
lst1 = [10, 20, 30, 40]
lst2 = ["A", "B", "C"]

for item1, item2 in zip(lst1, lst2):
  print(item1, item2)

10 A
20 B
30 C

### `range`함수 ★★★
`range(start, end, step)`

정수 리스트를 만들어 낸다.

In [ ]:
# 1 ~ 100 까지 리스트에 넣어서 for문을 이용해서 출력
# numbers = [1, 2, 3, 4, 5, 6, 7]
numbers = range(1, 101)
numbers

range(1, 101)

In [ ]:
print(list(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
for i in range(1, 50, 5):
  print(i)

1
6
11
16
21
26
31
36
41
46

In [ ]:
numbers = list(range(10)) # 0 ~ 9
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = list(range(0, 10)) # 0 ~ 9
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = list(range(0, 10, 2))
numbers

[0, 2, 4, 6, 8]

In [ ]:
numbers = list(range(100, 105))
numbers

[100, 101, 102, 103, 104]

# #6. 함수(function)
* 반복되는 코드를 묶음
* 코드를 **재사용** 할 수 있게 해준다.

In [ ]:
# 점수가 90점 이상이면 A, 80점 이상이면 B, 그 외 C
score = 88

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
else:
  print("C")

B

In [ ]:
score = 100

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
else:
  print("C")

A

In [ ]:
score = 50

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
else:
  print("C")

C

매번 ctrl + c, v 하면서 그 때 그 때 마다 필요한 코드를 작성하는게 과연 좋은 방법일까?

In [ ]:
# 계속 사용해야 하는 코드 뭉치(code context)를 정의를 해 놓고 필요할 때마다 사용
# 정의 : def - 함수를 만드는 과정
def print_grade(score):
  if score >= 90:
    print("A")
  elif score >= 80:
    print("B")
  else:
    print("C")

In [ ]:
print_grade

In [ ]:
# 사용(호출) : call
print_grade(60)

C

In [ ]:
print_grade(100)

A

In [ ]:
print_grade(85)

B

## 함수의 정의 방법
```python
def <function_name>([parameter1, parameter2, ...]):
  ...
  code
  ...
```
* 파라미터(Parameter) : 함수 **선언**할 때 호출하는 곳에서 입력해주는 **데이터를 저장할 변수**
* 아규먼트(Argument) : 함수를 호출하는 곳에서 함수에 **넣어주는 데이터**

파라미터의 변수명과 아규먼트의 변수명은 항상 일치해야 할까요?
  * NO!

In [ ]:
# 1. Argument( Parameter ) X, Return X
def foo(): # Parameter가 없음!
  print("Here is foo")
  print("Parameter X, Return X")

# Parameter가 없으니까 Argument를 안 넣어 준다.
foo()

Here is foo
Parameter X, Return X

In [ ]:
# 2. Argument(Parameter) O, Return X
def goo(num1, num2): # num1, num2 Paramter가 있다!
  if num1 + num2 > 10:
    print("Big")
  else:
    print("Small")

goo(1, 2) # 1, 2는 goo 함수의 Argument
goo(10, 20) # 10, 20은 goo 함수의 Argument

Small
Big

In [ ]:
# 3. Argument(Parameter) X, Return O
def hoo():
  print("hoo is called")
  lst = range(1, 10) # 1 ~ 9 까지 정수가 만들어 짐
  total = sum(lst)

  return total # Return 값이 존재!

hoo_result = hoo() # 함수 hoo는 리턴을 하기 때문에 호출 할 때 값을 변수로 받아낼 수가 있다.
print(f"결과 : {hoo_result}")

hoo is called
결과 : 45

In [ ]:
# 4. Argument( Parameter ) O, Return O
def moo(num1, num2): # Parameter 있음!
  print("moo is called")
  return num1 + num2 # Return 있음!

a = 10
b = 20

moo_result = moo(a, b)
print(moo_result)

moo is called
30

## Parameter를 정의하는 방법
1. `default parameter`
2. 여러 아규먼트를 동시에 받기
  * `*args`
3. 키워드 아규먼트 사용하기
  * `**kwargs`

### Default Parameter ★★★★★
* 함수를 호출 할 때 Argument를 넣어주지 않아도 기본적으로 파라미터가 가지고 있어야 하는 값을 지정

In [ ]:
# c에 default parameter가 설정
# 파라미터 c에서 기본적으로 갖는 값은 30
def koo(a, b, c=30):
  print(a, b, c)

koo(10, 20)

10 20 30

In [ ]:
koo(10, 20, "Hello") # c에 값 넣어줄 수 있다.

10 20 Hello

### `*args`
* 함수를 정의하면서 Argument가 `n`개가 들어 올 수도 있음...
* `*`을 `asterisk`
* `n`개의 positional argument를 튜플 형태로 받는다

In [ ]:
print(1,2,3,4,1,2,3,1,2,3,1,23,1,23,1,23,123,1,12,3,767,897)

1 2 3 4 1 2 3 1 2 3 1 23 1 23 1 23 123 1 12 3 767 897

In [ ]:
def add2(a, b):
  return a + b

add2(10, 20)

30

In [ ]:
def add3(a, b, c):
  return a + b + c

add3(10, 20, 30)

60

100개의 아규먼트를 받아서 더하고 싶으면?

In [ ]:
def add_args(*args):
  # print(type(args), args)
  total = sum(args) # 튜플에 있는 모든 아이템을 더하고
  return total # 리턴

add_args(1,2,3,4,5,6,7,8,9,10,1,1,1,2,3,4,1,2,3,1,2,3,1,2,31,2,3,1,2,3,6,1,2,3,1,2,3,1,2,3,5,8,9,0)

170

### `**kwargs`
`n`개의 keyword argument를 `dict`형태로 받는다.

In [ ]:
def yoo(a, b, **kwargs):
  print(a)
  print(b)
  print(kwargs)

In [ ]:
yoo(10, 20, c=30, d=40, e=50)

10
20
{'c': 30, 'd': 40, 'e': 50}