In [ ]:
import MySQLdb

In [ ]:
# MySQL 연결
db = MySQLdb.connect(
    "3.37.184.54", # database server public ip
    "mhso",        # user
    "1111",        # password
    "world"        # database
)

db

In [ ]:
# 쿼리 작성
QUERY = """
    SHOW TABLES;
"""

In [ ]:
# 쿼리 실행
cursor = db.cursor()
cursor.execute(QUERY)

3

In [ ]:
# fetchall() - cursor를 이용해서 실제 데이터를 조회
rows = cursor.fetchall()
rows

(('city',), ('country',), ('countrylanguage',))

In [ ]:
# pandas dataframe으로 불러오기
import pandas as pd

In [ ]:
# Query를 문자열로 바로 만들지 말고, workbench 같은 프로그램에서 충분히 실행과 검증을
# 한 다음에 제대로 조회가 되면 그 쿼리를 ctrl + c v 하세요!
QUERY = """
    SELECT *
    FROM country;
"""

In [ ]:
df_country = pd.read_sql(QUERY, db)
df_country.head()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL

# SQLAlchemy
* python에서 사용하는 대표적인 ORM
* ORM : Object Relational Mapping
    * 데이터 베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD
    * 쿼리 대신 함수 형태(메소드) CRUD를 할 수 있다.
    * 사용하는 DBMS를 변경하는 경우 **엔진**만 바꿔주면 된다

In [ ]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [ ]:
# 데이터 베이스 연결 - 사용할 엔진을 만드는 작업
# user = "mhso"
# password = "1111"
# host = "3.37.184.54"
# db_name = "test"

# engine = create_engine(f"mysql://{user}:{password}@{host}/{db_name}")

engine = create_engine("mysql://mhso:1111@3.37.184.54/test")

In [ ]:
engine

Engine(mysql://mhso:***@3.37.184.54/test)

## 테이블 객체 생성
- 테이블을 매핑할 클래스를 작성
    - 테이블 이름
    - 컬럼 정의

In [ ]:
# Base : 기본적으로 테이블을 다루기 위한 여러 내용들이 들어있음.
# - 대표적으로 CRUD에 대한 메소드가 들어있다.
Base = declarative_base() # Base 클래스를 얻어내는 함수

# Base 클래스 상속
# 데이터만 담겨있는 클래스(객체) : Value Object VO
class User(Base):
    
    __tablename__ = "user2" # 테이블 이름
    
    # 컬럼 정의
    #  - 컬럼명, 컬럼 데이터 타입
    user_id = Column(Integer, primary_key=True)
    name = Column(String(20)) 
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    # 생성자에서는 각 컬럼에 데이터를 매핑
    def __init__(self, name, email, age, rdate):
        # self.변수는 컬럼명과 반드시 일치
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
    
    # repr 함수
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(self.name, self.email, self.age, self.rdate)

In [ ]:
# engine에 연결된 데이터 베이스(test)에 테이블 생성
Base.metadata.create_all(engine)

In [ ]:

# 데이터 베이스에 session 연결 : connection
Session = sessionmaker(engine) # python - mysql 연결 작업. 연결 가능한 Session클래스 리턴
sess = Session() # 세션 객체 생성
sess

## 1. insert
* `session` 객체에서 `add()`, `add_all()`을 사용하면 된다.

In [ ]:
user = User("mhso2", "mhso2@naver.com", 30, "2021-12-01")
user

In [ ]:
user.__tablename__

'user2'

In [ ]:
sess.add(user)

In [ ]:
sess.commit()

### transaction
- 실행의 원자성

In [ ]:
# many insert
users = [
    User("mino12321", "asaas@daum.net", 22, "2021-11-30"),
    User("cofff123123", "aasdasd@naver.com", 30, "2020-11-11")
]

Session = sessionmaker(engine)
sess = Session()
sess.add_all(users)
sess.commit()

## 2. select

In [ ]:
engine

Engine(mysql://mhso:***@3.37.184.54/test)

In [ ]:
Session = sessionmaker(engine)
sess = Session()

# 전체 조회
#   class User(Base) -> table을 의미..
result = sess.query(User).all() # select * from User;
list(result)

[<User mino, mino@naver.com, 30, None>,
 <User mhso, mhso@daum.net, 33, None>,
 <User 소미노, asdf@naver.com, 33, 2021-11-16 06:32:18>,
 <User mhso2, mhso2@naver.com, 30, 2021-12-01 00:00:00>,
 <User mino12321, asaas@daum.net, 22, 2021-11-30 00:00:00>,
 <User cofff123123, aasdasd@naver.com, 30, 2020-11-11 00:00:00>]

where절 : `filter`

In [ ]:
# 비교연산자 활용
# filter : ==, != , >, <, >=, <=
results = sess.query(User).filter(User.age == 30)
list(results)

[<User mino, mino@naver.com, 30, None>,
 <User mhso2, mhso2@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff123123, aasdasd@naver.com, 30, 2020-11-11 00:00:00>]

In [ ]:
# filter : like
results = sess.query(User).filter(User.email.like("%naver%"))
list(results)

[<User mino, mino@naver.com, 30, None>,
 <User 소미노, asdf@naver.com, 33, 2021-11-16 06:32:18>,
 <User mhso2, mhso2@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff123123, aasdasd@naver.com, 30, 2020-11-11 00:00:00>]

In [ ]:
# filter : in_

results = sess.query(User).filter(User.age.in_([30, 33]))
list(results)

[<User mino, mino@naver.com, 30, None>,
 <User mhso, mhso@daum.net, 33, None>,
 <User 소미노, asdf@naver.com, 33, 2021-11-16 06:32:18>,
 <User mhso2, mhso2@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff123123, aasdasd@naver.com, 30, 2020-11-11 00:00:00>]

In [ ]:
# filter : or_
results = sess.query(User).filter(
    or_(User.name=="mino", User.age==30)
)
list(results)

[<User mino, mino@naver.com, 30, None>,
 <User mhso2, mhso2@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff123123, aasdasd@naver.com, 30, 2020-11-11 00:00:00>]

In [ ]:
# order by
results = sess.query(User).order_by(User.age.desc()) # asc() : 오름차순, desc() : 내림차순
list(results)

[<User mhso, mhso@daum.net, 33, None>,
 <User 소미노, asdf@naver.com, 33, 2021-11-16 06:32:18>,
 <User mino, mino@naver.com, 30, None>,
 <User mhso2, mhso2@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff123123, aasdasd@naver.com, 30, 2020-11-11 00:00:00>,
 <User mino12321, asaas@daum.net, 22, 2021-11-30 00:00:00>]

## 3. Update
업데이트 완료 시 바뀐 데이터의 객체가 리턴 된다.

In [ ]:
data = sess.query(User).filter(User.name=="mino")
data[0]

In [ ]:
# 1. 객체를 꺼내서
data = sess.query(User).filter(User.name=="mino").one()
data

In [ ]:
# 2. 데이터를 수정하고
data.age = 9999

In [ ]:
# 3. 다시 업로드
sess.add(data)
sess.commit()

In [ ]:
# 여러 개 데이터를 동시에 update
datas = sess.query(User).filter(
    or_(User.name == "mino", User.age == 30)
)

list(datas)

[<User mino, mino@naver.com, 9999, None>,
 <User mhso2, mhso2@naver.com, 30, 2021-12-01 00:00:00>,
 <User cofff123123, aasdasd@naver.com, 30, 2020-11-11 00:00:00>]

In [ ]:
for data in datas:
    data.age = 123123
    sess.add(data)
    
sess.commit()

## 4. delete

In [ ]:
sess.query(User).filter(User.age == 123123).delete()

3

In [ ]:
sess.commit()

## SqlAlchemy, Pandas 연동

In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
df_iris = sns.load_dataset("iris")
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
engine

Engine(mysql://mhso:***@3.37.184.54/test)

* 데이터 프레임 -> Table

In [ ]:
df_iris.to_sql(name='iris', con=engine, if_exists="replace")

* Table -> 데이터 프레임

In [ ]:
engine = create_engine("mysql://mhso:1111@3.37.184.54/world")

In [ ]:
engine

Engine(mysql://mhso:***@3.37.184.54/world)

In [ ]:
QUERY = """
    SELECT *
    FROM city
"""

df_city = pd.read_sql(QUERY, engine)
df_city.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200